.filters {
	color: #484848;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}
.filters div h3 {
	font-weight: 600;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.filters div h4 {
	font-weight: 400;
	font-size: 14px;
	display: flex;
	justify-content:space-around;
	align-items: center;
}
div.amenities {
	height: 100%;
	width: 25%;
}
.filters button {
	font-size: 18px;
	height: 48px;
	width: 20%;
	background-color: #FF5A5F;
	color: #FFFFFF;
	border-radius: 4px;
	margin-left: auto;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
.filters button:hover {
	opacity: 0.9;
}
h3 {
	margin-bottom: 0;
}
h4 {
	margin-top: 0;
}
